.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  font-family: Helvetica;
  display: block;
  margin: 0 auto;
  border-radius: inherit;
  padding: 0 20px;
  text-align: center;
  background-image: url("kumo.jpeg");
}
form {
  padding: 20px;
}

.btn {
  color: #000;
  background: #fff;
  border: 1px solid lightblue;
  border-radius: 10px;
  transition: all 200ms ease;
}
.btn:hover {
  color: #fff;
  background: lightblue;
}

ul {
  position: relative;
  right: -190px;
  top: -70px;
  line-height: 1;
  width: max-content;
}
li {
  position: relative;
  right: 150px;
  top: 85px;
  list-style: none;
  display: list-item;
}
.weather {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.weather img {
  display: block;
  margin-top: -50px;
}

.search-form {
  margin-bottom: 50px;
  max-width: 500px;
}
.overview {
  margin-bottom: -50px;
  text-align: center;
}
