.WeatherInfo {
  text-align: center;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

.WeatherInfo h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  letter-spacing: -0.5px;
}

.WeatherInfo .weather-description {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: 300;
  letter-spacing: 0.5px;
}

.WeatherInfo .weather-temperature {
  margin: 20px 0;
}

.WeatherInfo .weather-temperature img {
  width: 64px;
  height: 64px;
  margin-right: 15px;
  filter: brightness(0) invert(1);
}

.WeatherInfo .weather-temperature strong {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: -1px;
}

.WeatherInfo .weather-temperature .units {
  font-size: 24px;
  color: #fff;
  margin-left: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: 300;
}

.WeatherInfo ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.WeatherInfo li {
  font-size: 16px;
  color: #fff;
  margin: 10px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: 300;
  letter-spacing: 0.3px;
}

@media (max-width: 576px) {
  .WeatherInfo h1 {
    font-size: 32px;
  }

  .WeatherInfo .weather-temperature strong {
    font-size: 40px;
  }

  .WeatherInfo .weather-temperature .units {
    font-size: 20px;
  }
}
